*.class

# Ignoring all Minecraft build - only push src dir
gradle/
.gradle/
.idea/
build/
classes/
eclipse/
run/
*.bat
gradlew
CREDITS-fml.txt
LICENSE-fml.txt
Minecraft*
Paulscode*.txt
build.gradle
forge*.txt
README.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
