*.class
.metadata/
.recommenders/
.idea
.classpath
.project
.iml
ObsidiCode/build/
Minecraft/build/
Minecraft/run/
Minecraft/classes/
Minecraft/gradle/
Minecraft/.idea
Minecraft/.gradle/
Minecraft/.git
Minecraft/Paulscode IBXM Library License.txt
Minecraft/Paulscode SoundSystem CodecIBXM License.txt
Minecraft/README.txt


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Minecraft/.gradle/2.7/taskArtifacts/cache.properties.lock
*.bin
Minecraft/.gradle/2.7/taskArtifacts/cache.properties.lock
Minecraft/.gradle/gradle.log
Minecraft/.gradle/2.7/taskArtifacts/cache.properties.lock
*.bin
Minecraft/.gradle/gradle.log
.idea/workspace.xml
